* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    background-color: #1d1d1d;
    position: sticky;
    top: 0;
    margin: 0;
}

@keyframes top {
    from {
        opacity: 0;
        transform: translateY(-10px);
    } to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.logo {
    font-size: 30px;
    color: white;
    transition: 1s;
    cursor: default;
    animation: top 1.5s ease-in-out;
}

.logo:hover {
    color: #00d5ff;
}

.span {
    color: #00d5ff;
    transition: 1s;
}

.span:hover {
    color: #ffffff;
}


nav ul {
    display: flex;
    gap: 35px;
    list-style-type: none;
    animation: top 1.5s ease-in-out;
}


nav ul li a {
    color: #00d5ff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    transition: 0.5s;
}

nav ul li a:hover {
    color: #ffffff;
}

nav ul li a:active {
    color: #0066ff;
    transition: 0.2s;
}

nav ul li a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 100%;
    background: #ffffff;
    border-radius: 20px;
    transform: scaleX(0);
    transition: transform 0.3s linear;
}

nav ul li a:hover::before {
    transform: scaleX(1);
}

#bar {
    color: #00d5ff;
    font-size: 24px;
    transition: 0.3s;
    display: none;
    animation: top 1.5s ease-in-out;
}

#bar:hover {
    color: #ffffff;
}

#bar:active {
    color: #0051cb;
    transition: 0.1s;
}

.toggle-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    top: 0;
    right: 0;
    background-color: #323232de;
    padding: 10px 16px;
    width: 10rem;
    border-radius: 2px;
    outline: none;
    border: none;
    animation: top 0.3s ease-in-out;
}

.toggle-menu li a {
    color: #00d5ff;
    text-shadow: 0px 2px 2px black;
    font-weight: 450;
    font-size: 18px;
}

#exit {
    color: #8dc8f0;
    margin-left: 110px;
    font-size: 24px;
    transition: 0.3s;
}

#exit:hover {
    color: #d43838;
}

#exit:active {
    transition: 0.1s;
    color: #960000;
}

#home {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    padding: 30px 50px;
    height: 100vh;
}

@keyframes left {
    from {
        opacity: 0;
        transform: translateX(100%);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}
#home .introduction {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    max-width: 700px;
}

#home .image {
    background: linear-gradient(120deg, #00d5ff, #a2ffff, #ffffff);
    padding: 0.5vw;
    max-width: 26vw;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: left 3.5s ease-in-out, border 3s linear infinite;
    box-sizing: border-box;
}

@keyframes border {
    0% {
        transform: translateY(-3px);
    } 50% {
        transform: translateY(3px);
    } 100% {
        transform: translateY(-3px);
    }
}

#home .image img {
    max-height: 100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
    background-color: #000000;
    border-radius: 50%;
    outline: none;
    object-fit: cover;
    object-position: center calc(10px + 0px);
    box-sizing: border-box;
}

#home div h2 {
    color: #00d5ff;
    font-size: 4vw;
    text-shadow: 0px 1px 1px black;
    animation: left 0.5s ease-in-out;
}

#home div h1 {
    color: #ffffff;
    font-size: 4vw;
    text-shadow: 0px 1px 1px black;
    animation: left 1s ease-in-out;
}

#home div p {
    font-weight: 400;
    font-size: 15px;
    padding: 20px 0;
    max-width: 780px;
    color: #00d5ff;
    width: 100%;
    animation: left 2s ease-in-out;
}

#home div h3 {
    color: #00d5ff;
    font: 2vw; 
    text-shadow: 0px 1px 1px black;
    animation: left 1.5s ease-in-out;
}

#home div button {
    max-width: 180px;
    padding: 10px 20px;
    background-color: transparent;
    color: #ffffff;
    font-weight: 450;
    font-size: 18px;
    outline: none;
    border: 2px solid #00d5ff;
    border-radius: 50px;
    box-shadow: 1px 2px 3px black;
    animation: left 2.5s ease-in-out;
    margin-top: 20px;
}

#home div button:hover {
    border: 2px solid #ffffff;
    color: #00d5ff;
    transition: 0.3s;
}

#home div .icons {
    display: flex;
    padding: 20px 0;
    gap: 30px;
    text-shadow: 0px 0px 1px black;
    font-size: 25px;
    animation: left 3s ease-in-out;
    margin-top: 10px;
}

#home div .icons a i {
    color: #00d5ff;
}

#home div .icons .fa-linkedin-in:hover {
    transition: 0.5s;
    color: blue;
}

#home div .icons .fa-instagram:hover {
    color: #f500a7;
    transition: 0.5s;
}

#home div .icons .fa-facebook-f:hover {
    color: blue;
    transition: 0.5s;
}

#home div .icons .fa-github:hover {
    color: #9400f7;
    transition: 0.5s;
}

#about {
   background: #000000; 
   padding: 20px;
   padding-bottom: 30px;
   border-top: 1px solid #2b2b2b;
   padding-top: 60px;
}

#about h1 {
    text-align: center;
    font-size: 40px;
    color: #00d5ff;
    text-shadow: 0px 0px 1px black;
    animation: top 1.5s ease-in-out;
}

#about .my-profile img {
    height: 20rem;
    width: 20rem;
    border-radius: 2px;
    animation: left 1s ease-in-out;
}

#about .my-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 100px;
}

#about .my-profile h2 {
    color: #00d5ff;
    font-size: 30px;
    text-shadow: 0px 0px 1px black;
    animation: left 2s ease-in-out;
}

#about .my-profile p {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    animation: left 3.5s ease-in-out;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #000000;
    border-top: 1px solid #2b2b2b;
    padding: 20px;
    padding-top: 60px;
    gap: 20px;
}

#projects h1 {
    font-size: 40px;
    color: #00d5ff;
    text-shadow: 0px 0px 1px black;
    animation: top 1.5s ease-in-out;
}

#projects p {
    font-weight: 500;
    color: #ffffff;
    animation: top 1.5s ease-in-out;
}

.project-list {
    display: flex;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
    padding: 20px;
}

.project-list div {
    flex: 1 1 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-width: 200px;
    gap: 20px;
    border: 1px solid #00d5ff;
    border-radius: 20px;
    box-shadow: 1px 2px 4px black;
    padding: 20px;
    background: none;
    flex-flow: 340px;
    min-height: 290px;
    animation: left 1.5s ease-in-out;
    transition: 0.3s;
}

.project-list div:hover {
    transform: scale(1.05);
    background-color: #121212;
}

.project-list div h3 {
    color: #ffffff;
    text-shadow: 0px 0px1px black;
}

.project-list div img {
    width: 100%;
    max-width: 390px;
    min-width: 190px;
    border-radius: 4px;
    border: 1px solid #00d5ff;
    height: auto;
    object-fit: cover;
}

.project-list div button {
    padding: 8px 20px;
    border-radius: 20px;
    outline: none;
    border: 1px solid #ffffff;
    background: none;
    box-shadow: 0px 1px 1px black;
}

.project-list div button a {
    text-decoration: none;
    font-weight: 400;
    color: #00d5ff;
}

.project-list div button:hover {
    transition: 0.3s;
    border: 1px solid #00d5ff;
}

.project-list div button:active {
    background: #2b2b2b;
}

.project-list div p {
    font-size: 15px;
    font-weight: 450 !important;
}

#projects .more-projects {
    display: flex;
    align-items: center;
    text-shadow: 0px 0px 1px black;
    justify-content: center;
    color: #00d5ff;
    text-decoration: none;
    font-size: 20px;
    font: 800;
    animation: top 1.5s ease-in-out;
}

#projects .more-projects:hover {
    text-decoration: underline;
}

#skills {
    text-align: center;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    background: #000000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: 1px solid #2b2b2b;
}

#skills h1 {
    font-size: 40px;
    color: #00d5ff;
    text-shadow: 0px 0px 1px black;
    animation: top 1.5s ease-in-out;
}

.skilled-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.skilled-wrapper {
    padding: 10px;
    border: none;
    border-radius: 5px 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex: 1;
    animation: left 1.5s ease-in-out;
    box-sizing: border-box;
    max-width: 700px;
    width: 100%;
    transition: 0.3s ease;
}

.skilled-wrapper:hover {
    transform: scale(1.06);
    background-color: #2b2b2b;
}

.skilled-wrapper i {
    color: #00d5ff;
    font-size: 50px;
}

.progress-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #00d5ff;
}

.progress-field p {
    align-self: flex-start;
}

.progress-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.progress-wrapper p {
    font-size: 16px;
}

.progress-bar {
    max-width: 700px;
    width: 100%;
    height: 15px;
    border-radius: 2px;
    border: 1px solid #00d5ff;
    overflow: hidden;
}

.progress {
    background-color: #00d5ff;
    height: 15px;
}

#contact {
    text-align: center;
    background: #000000;
    padding: 20px;
    padding-top: 60px;
    border-top: 1px solid #2b2b2b;
}

 #contact h1 {
    font-size: 40px;
    color: #00d5ff;
    text-shadow: 0px 0px 1px black;
    animation: top 1.5s ease-in-out;
 }

#contact h2 {
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    text-shadow: 0px 0px 1px black;
    animation: top 1.5s ease-in-out;
}

#contact .contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.contact-box .message {
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: left 3.5s ease-in-out;
}

.contact-box .message input {
    padding: 8px;
    width: 24rem;
    border-radius: 3px;
    outline: none;
    border: 1px solid #00d5ff;
    background: none;
    color: #00d5ff;
}

.message input::placeholder {
    color: #00d5ffa1;
}

.message input[type=number]::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.message textarea {
    outline: none;
    border: 1px solid #00d5ff;
    background: none;
    border-radius: 3px;
    padding: 8px;
    height: 10rem;
    color: #00d5ff;
}

.message textarea::placeholder {
    color: #00d5ffa1;
}

.message textarea::-webkit-scrollbar {
    display: none;
}

.message button {
    padding: 8px;
    background: #00d5ff;
    outline: none;
    border-radius: 3px;
    color: #000000;
    border: none;
    font-size: 15px;
}

.message button:active {
    background: #5b5bff;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.details h2 {
    font-size: 24px !important;
    animation: left 1s ease-in-out;
}

.details div {
    display: flex;
    gap: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #00d5ff;
    animation: left 2s ease-in-out;
}

.details .more-detail {
    display: flex;
    gap: 20px;
    font-size: 25px;
    padding: 10px;
    animation: left 3s ease-in-out;
}

.details .more-detail a i {
    color: #00d5ff;
}   

footer {
    background: #000000;
    border-top: 1px solid #2b2b2b;
    color: #00d5ff;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
    padding: 20px;
    text-align: center;
}

footer div {
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 1030px) {
    #about .my-profile {
        padding: 20px 60px;
    }
}

@media (max-width: 980px) {

    #home {
        padding-top: 50px;
        height: auto;
    }
    #about .my-profile {
        padding: 10px 20px;
    }

    #about .my-profile p {
        letter-spacing: normal;
        line-height: 22px;
    }
}

@media (max-width: 780px) {

    #home {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 25px;
        align-items: center;
        text-align: center;
    }

    .introduction button {
        align-self: center;
        width: 100%;
        padding: 8px 10px !important;
    }

    .icons {
        align-self: center;
    }
    #about .my-profile {
        padding: 10px;
    }

    #about .my-profile p {
        line-height: 21px;
        font-size: 14px;
    }
    .project-list {
        flex-wrap: wrap;
    }

    .project-list div {
        max-width: 320px;
        height: auto;
    }

    footer {
        flex-wrap: wrap;
    }
}

@media (max-width: 720px) {

    nav ul {
        display: none;
    }

    #bar {
        display: block;
    }

    .contact-box {
        flex-direction: column;
        padding: 0;
    }

    .details {
        text-align: center;
        gap: 0px;
    }

    .details div {
        justify-content: center;
    }
}

@media (max-width: 705px) {
    .project-list div {
        max-width: 280px;
    }
}

@media (max-width: 680px) {

    #about .my-profile {
        padding: 5px;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    #about .my-profile img {
        display: none;
    }

    .project-list div {
        max-width: 255px;
    }
}

@media (max-width: 580px) {

    #home {
        padding: 20px;
        padding-top: 60px;
    }

    #home .image {
        max-width: 180px;
    }

    .project-list div {
        max-width: 400px;
    }

    footer {
        font-size: 14px;
    }
}

@media (max-width: 480px) {

    nav {
        padding: 10px;
    }

    #home div h2 {
        font-size: 30px;
    }

    #home div h1 {
        font-size: 32px;
    }

    #home div p {
        font-size: 13px;
    }

    .logo {
        font-size: 28px;
    }

    #bar {
        font-size: 20px;
    }

    #home div button {
        font-size: 12px;
    }

    #about h1 {
        font-size: 26px;
    }

    #about .my-profile h2 {
        animation: top 2s ease-in-out;
    }

    #about .my-profile p {
        font-size: 13px;
        animation: top 1s ease-in-out;
    }

    #projects h1 {
        font-size: 26px;
    }

    #projects p {
        font-size: 13px;
    }

    #projects .more-projects {
        font-size: 16px;
    }

    #skills h1 {
        font-size: 26px;
    }

    .contact-box .message input {
        width: 18rem;
    }

    .contact-box .message textarea {
        height: 6rem;
    }

    .details .more-detail {
        font-size: 20px;
        padding: 10px;
    }
}

@media (max-width: 350px) {

    .contact-box .message input {
        width: 16rem;
    }
}