* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: #00001e;
    position: sticky;
    top: 0;
    margin: 0;
}

.logo {
    font-size: 30px;
    color: white;
    transition: 1s;
    cursor: default;
}

.logo:hover {
    color: #5201c3;
}

.span {
    color: #5201c3;
    transition: 1s;
}

.span:hover {
    color: #ffffff;
}


nav ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
}


nav ul li a {
    color: #7523e7;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    transition: 0.5s;
}

nav ul li a:hover {
    color: #8dc8f0;
}

nav ul li a:active {
    color: #0066ff;
    transition: 0.2s;
}

nav ul li a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 3px;
    width: 100%;
    background: linear-gradient(to right, #bee5ff, #e78fff);
    border-radius: 20px;
    transform: scaleX(0);
    transition: transform 0.3s linear;
}

nav ul li a:hover::before {
    transform: scaleX(1);
}

#bar {
    color: #5201c3;
    font-size: 24px;
    transition: 0.3s;
    display: none;
}

#bar:hover {
    color: #70c6ff;
}

#bar:active {
    color: #0066ff;
    transition: 0.1s;
}

.toggle-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    top: 5px;
    right: 5px;
    background-color: #575757ca;
    padding: 8px 16px;
    width: 10rem;
    border-radius: 10px;
    outline: none;
    border: none;
}

.toggle-menu li a {
    color: #9b54ff;
    text-shadow: 0px 2px 2px black;
    font-weight: 450;
    font-size: 18px;
}

#exit {
    color: #9c9c9c;
    margin-left: 112px;
    font-size: 24px;
    transition: 0.3s;
}

#exit:hover {
    color: rgb(222, 85, 85);
}

#exit:active {
    transition: 0.1s;
    color: rgb(150, 0, 0);
}

#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient( to right, #b0aaff, #8767f9);
    padding: 30px 20px;
    padding-top: 60px;
}

#home img {
    height: 15rem;
    width: 14rem;
    background-color: #e8ebff;
    border-radius: 69% 28% 50% 58% / 47% 26% 70% 59% ;
    box-shadow: 2px 3px 5px rgb(0, 0, 0);
    border-left: 10px solid #04004e;
    outline: none;
}

#home div h2 {
    color: #00004b;
    font-size: 30px;
    text-shadow: 0px 1px 1px black;
}

#home div h1 {
    color: #510094;
    font-size: 34px;
    text-shadow: 0px 1px 1px black;
}

#home div p {
    font-weight: 500;
    padding: 20px 0;
    max-width: 780px;
    color: #00004b;
    width: 100%;
}

#home div h3 {
    color: #00004b;
    font: 30px;
    text-shadow: 0px 1px 1px black;
}

#home div button {
    padding: 5px 10px;
    background-color: navy;
    color: white;
    font-weight: 450;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 3px black;
}

#home div button:hover {
    background-color: #6a00a8;
    transition: 0.3s;
}

#home div .icons {
    display: flex;
    padding: 20px 0;
    gap: 22px;
    color: #00004b;
    text-shadow: 0px 0px 1px black;
    font-size: 20px;
}

#home div .icons a i {
    color: #00003c;
}

.fa-linkedin-in:hover {
    transition: 0.5s;
    color: blue;
}

.fa-instagram:hover {
    color: #f500a7;
    transition: 0.5s;
}

.fa-facebook-f:hover {
    color: blue;
    transition: 0.5s;
}

.fa-github:hover {
    color: #9400f7;
    transition: 0.5s;
}

#about {
   background: #17003b; 
   padding: 20px;
   padding-top: 60px;
}

#about h1 {
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 0px 0px 1px black;
}

#about img {
    height: 20rem;
    width: 20rem;
    border-radius: 2px;
}

#about .my-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 100px;
}

#about .my-profile h2 {
    color: rgb(33, 189, 33);
    text-shadow: 0px 0px 1px black;
}

#about .my-profile p {
    color: #8dc8f0;
    line-height: 24px;
    letter-spacing: 1px;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #adccff;
    padding: 20px;
    padding-top: 60px;
    gap: 20px;
}

#projects h1 {
    font-size: 30px;
    color: #00004b;
    text-shadow: 0px 0px 1px black;
}

#projects p {
    font-weight: 500;
    color: #17003b;
}

.project-list {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.project-list div {
    flex: 1 1 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-width: 200px;
    gap: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 2px 4px black;
    padding: 10px;
    background: #7fbdff;
    flex-flow: 340px;
    min-height: 290px;
}

.project-list div h3 {
    color: #36015b;
    text-shadow: 0px 0px1px black;
}

.project-list div img {
    width: 100%;
    max-width: 390px;
    min-width: 190px;
    border-radius: 5px;
    height: auto;
    object-fit: cover;
}

.project-list div button {
    padding: 5px 20px;
    border-radius: 20px;
    outline: none;
    border: 1px solid #0026ff;
    background: #1b84c1;
    box-shadow: 0px 1px 1px black;
}

.project-list div button a {
    text-decoration: none;
    font-weight: 550;
    color: #00001e;
}

.project-list div button:hover {
    background: #7ef6ff;
    transition: 0.3s;
}

.project-list div button:active {
    background: #001ec7;
}

.project-list div p {
    font-size: 15px;
    font-weight: 450;
}

#projects .more-projects {
    display: flex;
    align-items: center;
    text-shadow: 0px 0px 1px black;
    justify-content: center;
    color: rgb(19, 19, 139);
    text-decoration: none;
    font-size: 20px;
    font: 800;
}

#projects .more-projects:hover {
    text-decoration: underline;
}

#skills {
    text-align: center;
    padding: 20px;
    padding-top: 60px;
    background: #591dff;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#skills h1 {
    font-size: 30px;
    color: #ffffff;
    text-shadow: 0px 0px 1px black;
}

.skilled-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.skilled-icons div {
    flex: 1;
}

.skilled-icons img {
    width: 140px;
}

.skilled-icons h3 {
    color: rgb(0, 255, 255);
    text-shadow: 1px 1px 2px black;
    font-size: 20px;
}

#contact {
    text-align: center;
    background: #69dbf1;
    padding: 20px;
    padding-top: 60px;
}

 #contact h1 {
    font-size: 30px;
    color: #00003c;
    text-shadow: 0px 0px 1px black;
 }

#contact h2 {
    color: #00004b;
    font-size: 20px;
    padding: 10px;
    text-shadow: 0px 0px 1px black;
}

#contact .contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.contact-box .message {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-box .message input {
    padding: 5px;
    width: 24rem;
    border-radius: 3px;
    outline: none;
    border: 2px solid #00003c;
    background: none;
    color: #00004b;
}

.message input::placeholder {
    color: #00004b;
}

.message input[type=number]::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.message textarea {
    outline: none;
    border: 2px solid #00003c;
    background: none;
    border-radius: 3px;
    padding: 5px;
    height: 10rem;
}

.message textarea::placeholder {
    color: #00004b;
}

.message textarea::-webkit-scrollbar {
    display: none;
}

.message button {
    padding: 8px;
    background: #330098;
    outline: none;
    border: 1px solid #00003c;
    border-radius: 3px;
    color: #70c6ff;
    font-size: 15px;
}

.message button:active {
    background: #00004b;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.details h2 {
    font-size: 24px !important;
}

.details div {
    display: flex;
    gap: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #00003c;
}

.details .more-detail {
    display: flex;
    gap: 20px;
    font-size: 22px;
    padding: 10px;
}

.details .more-detail a i {
    color: #00003c;
}

footer {
    background: #00001e;
    color: rgb(167, 208, 255);
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
    padding: 20px;
    text-align: center;
}

footer div {
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 1030px) {
    #about .my-profile {
        padding: 20px 60px;
    }
}

@media (max-width: 980px) {
    #about .my-profile {
        padding: 10px 20px;
    }

    #about .my-profile p {
        letter-spacing: normal;
        line-height: 22px;
    }
}

@media (max-width: 780px) {
    #about .my-profile {
        padding: 10px;
    }

    #about .my-profile p {
        line-height: 21px;
        font-size: 14px;
    }
    .project-list {
        flex-wrap: wrap;
    }

    .project-list div {
        max-width: 320px;
        height: auto;
    }

    footer {
        flex-wrap: wrap;
    }
}

@media (max-width: 720px) {

    nav ul {
        display: none;
    }

    #bar {
        display: block;
    }

    #home div h2 {
        font-size: 28px;
    }

    #home div h1 {
        font-size: 30px;
    }

    #home div h3 {
        font-size: 28px;
    }

    #home img {
        height: 14rem;
        width: 13rem;
    }

    .contact-box {
        flex-direction: column;
        padding: 0;
    }

    .details {
        text-align: center;
        gap: 0px;
    }

    .details div {
        justify-content: center;
    }
}

@media (max-width: 705px) {
    .project-list div {
        max-width: 280px;
    }
}

@media (max-width: 680px) {
    #home div h2 {
        font-size: 24px;
    }

    #home div h1 {
        font-size: 26px;
    }

    #home div h3 {
        font-size: 24px;
    }

    #home img {
        height: 13rem;
        width: 12rem;
    }

    #home div p {
        padding: 5px 0;
    }

    #home div .icons {
        padding: 8px 0;
    }

    #about .my-profile {
        padding: 5px;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    #about .my-profile img {
        display: none;
    }

    .project-list div {
        max-width: 255px;
    }
}

@media (max-width: 580px) {
    #home div h2 {
        font-size: 22px;
    }

    #home div h1 {
        font-size: 24px;
    }

    #home div h3 {
        font-size: 22px;
    }

    #home img {
        height: 13rem;
        width: 12rem;
    }

    #home div p {
        font-size: 15px;
        font-weight: 600;
    }

    .project-list div {
        max-width: 400px;
    }

    .skilled-icons img {
        width: 80px;
    }

    .skilled-icons {
        gap: 50px;
    }

    footer {
        font-size: 14px;
    }
}

@media (max-width: 480px) {

    .logo {
        font-size: 28px;
    }

    #bar {
        font-size: 20px;
    }

    #home {
        padding: 20px 8px;
        padding-top: 60px;
    }

    #home div {
        line-height: 20px;
    }

    #home div h2 {
        font-size: 18px;
    }

    #home div h1 {
        font-size: 20px;
    }

    #home div h3 {
        font-size: 18px;
    }

    #home img {
        height: 10rem;
        width: 9rem;
    }

    #home div p {
        font-size: 13px;
        line-height: 14px;
    }

    #home div button {
        font-size: 12px;
    }

    #home div .icons {
        font-size: 18px;
    }

    #about h1 {
        font-size: 26px;
    }

    #about .my-profile p {
        font-size: 13px;
    }

    #projects h1 {
        font-size: 26px;
    }

    #projects p {
        font-size: 13px;
    }

    #projects .more-projects {
        font-size: 16px;
    }

    #skills h1 {
        font-size: 26px;
    }

    .skilled-icons h3 {
        font-size: 18px;
    }

    .contact-box .message input {
        width: 18rem;
    }

    .contact-box .message textarea {
        height: 6rem;
    }

    .details .more-detail {
        font-size: 18px;
        padding: 10px;
    }
}

@media (max-width: 400px) {

    #home {
        padding:15px 8px;
    }
}

@media (max-width: 350px) {

    #home {
        padding: 8px 5px;
    }

    #home div h2 {
        font-size: 16px;
    }

    #home div h1 {
        font-size: 18px;
    }

    #home div h3 {
        font-size: 16px;
    }

    #home img {
        height: 8rem;
        width: 7rem;
    }

    #home div p {
        padding: 4px 0;
        font-size: 12px;
    }

    #home div .icons {
        font-size: 16px;
    }

    .contact-box .message input {
        width: 16rem;
    }
}